.inner-content {
    background: #fff;
    padding: 15px;
    max-height: 100vh;
    overflow-y: auto;
    position: inherit;
  }
  
  .nav-bar-header {
    background-color: #ebf3f6 !important;
    height: 50px;
    line-height: 35px;
  }
  
  .select-sty {
    border-color: #ebf3f6;
    background-color: #ebf3f6;
    padding: 8px 30px 6px 0;
  }
  
  .nav-box {
    line-height: 35px;
  }
  
  .icon-sty {
    padding: 6px 0 0 0;
  }
  
  .inner-content {
    margin: 30px;
  }
  