/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


hr {
    height: 10px;
    border-radius: 5px;
}

.red-color {
    color: red;
}

.content-text {
    font-size: 14px;
}
